/* src/assets/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .bg-gray-50 {
  background-color: #1a202c;
  color: white;
}

/* .dark .text-black {
  color: #e2e8f0 !important;
} */
